/*debug*/

.ms_debug-box-small{
    height: 40px;
}

.ms_debug-box-medium{
    height: 70px;
}
.ms_debug-box-large{
    height: 120px;
}

.ms_border-debug-red{
    border: 1px dashed red;
}

.ms_border-debug-white{
    border: 1px dashed rgb(255, 255, 255);
}

.ms_debug-bg-color-light{
    background-color: aquamarine;
}

.ms_debug-bg-color-dark{
    background-color: rgba(57, 50, 50, 0.613);
}

.ms_debug-bg-color-grey{
    background-color: rgb(194, 194, 194);
}

.ms_debug-bg-color-lighter{
    background-color: rgb(153, 255, 221);
}
.ms_debug-bg-color-pink{
    background-color: pink;
}

/*palette colori da utilizzare*/

:root{
    --primary-color: #1b72e8;
    --primary-dark-color: #0a4aa4;
    --secondary-color: #bebec0;
    --secondary-light-color: #ebebeb;
    --secondary-dark-color: #5d5d5d9c;
    --tertiary-color: #051e34;
    --orange-color: #f2614c;
    --green-color: #198754;
    --yellow-color: #ffc107;
    --red-color: #dc3545;
    --gold-color:#ff8f00;
    --white-color:#ffffff;
}


/*pills color*/

.ms_pill-primary-dark-color{
    background-color: var(--primary-dark-color);
}
.ms_pill-green-color{
    background-color:var(--green-color);
}
.ms_pill-yellow-color{
    background-color:var(--yellow-color);
}
.ms_pill-red-color{
    background-color:var(--red-color);
}

/*rules*/
body{
    background-color: var(--secondary-light-color);
}

/***************HEADER*****************/

#ms_logo-boolean-mobile{
    max-width: 50px;
    padding-right:10px;
    margin-left: -10px;
}

#ms_logo-boolean{
    padding-right:10px;
    max-width: 160px;
}

header .navbar .dropdown .dropdown-menu{
    color: var(--tertiary-color);
    left:-150px;
}

.navbar{
    background-color:var(--white-color);
    border-bottom: 1px solid var(--secondary-color);
}


.navbar input{
    background-color: var(--secondary-dark-color);
}

.navbar input::placeholder{
    color: var(--secondary-light-color);
}

.input-group i{
    text-decoration: none;
    margin-left:10px;
    color:var(--tertiary-color)
}

.input-group .fa-bell{
    color: var(--gold-color);
}



/**********MAIN********/

main{
    height: calc(100vh - 57px);
    margin-top: 57px;
}



/*aside*/

#aside{
    min-width: 50px;
    min-height: 200px;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--tertiary-color);
    text-align: center;
}
#aside a{
    color: var(--secondary-color);
}

#aside i{
    margin: 0 5px;
}

#aside > div{
    transition: background-color 0.5s;
}

#aside > div:hover{
    background-color: var(--secondary-dark-color);
}

.ms_hidden{
    display: none;
}



/*content*/

#content{
    width: calc(100vw - 50px);
}

#content-top{
    background-color: var(--primary-color);
}
#content-top-1,
#content-top-2,
#content-top-3{
    padding: 10px;
}

#content-top-1 .btn{
    padding: ;
}

#content-top-2 #badges-lg{
    display: none;
}

#link-photo{
    text-decoration: none;
    color: var(--tertiary-color);
}


/*table*/

.ms_hidden-date, .ms_hidden-roi{
    display: none;
}
#content-body table thead tr{
    color:var(--secondary-dark-color)
}
#content-body table tbody th{
    min-width: 80px;
}

#content-body table tbody th:first-child img{
    width: 20px;
    border-radius: 50%;
}

#content-body table tbody th:first-child span{
    margin-left:5px;
}
#content-body table tbody .btn{
    width: 30px;
}


/* #content-body table thead th{
    width: 25px;
    border-radius: 50%;
} */

/*********media query*********/


/*MD*/
@media all and (min-width: 768px) {
    
    #content-top-1{
        text-align: right;
        order: 3;
    }
    
    #content-top-2{
        order: 1;
    }
    
    #content-top-3{
        order: 2;
    }

    .ms_hidden-roi{
        display: inline;
    }
}



/*LG*/
@media all and (min-width: 992px) {

    #badge-hidden{
        display: none;
    }

    #ms_logo-boolean-mobile{
        display: none;
    }

    .ms_hidden{
        display: inline;
    }

    #aside{
        width: 100px;
        text-align: left;
    }

    #content{
        width: calc(100vw - 100px);
    }
    #offcanvas{
        width: 80%;
    }
    #content-top-2 #badges-lg{
        display: inline;
    }

    #content-body table thead th:first-child{
        width:40%
    }
    .ms_hidden-date{
        display: inline;
    }
}