/*debug*/

.ms_debug-box-small{
    height: 40px;
}

.ms_debug-box-medium{
    height: 70px;
}
.ms_debug-box-large{
    height: 120px;
}

.ms_border-debug-red{
    border: 1px dashed red;
}

.ms_border-debug-white{
    border: 1px dashed rgb(255, 255, 255);
}

.ms_debug-bg-color-light{
    background-color: aquamarine;
}

.ms_debug-bg-color-dark{
    background-color: rgb(200, 97, 1);
}

.ms_debug-bg-color-grey{
    background-color: rgb(194, 194, 194);
}

.ms_debug-bg-color-lighter{
    background-color: rgb(153, 255, 221);
}





/*rules*/

main{
    height: calc(100vh - 70px);
    margin-top: 70px;
}

aside{
    width: 80px;
}

#content{
    width: calc(100vw - 80px);
}